# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/
ENV/

# Environment variables
.env
.env.*

# Flask
instance/
.webassets-cache

# Logs
*.log

# Database
*.sqlite3

# PyCharm
.idea/

# VS Code
.vscode/

# Mac
.DS_Store

# Linux
*.swp

# AWS Elastic Beanstalk
.elasticbeanstalk/*
!.elasticbeanstalk/config.yml

# Build
build/
dist/

# Python packaging
*.egg-info/
.eggs/

# Coverage
.coverage
htmlcov/

# pytest
.pytest_cache/

# migrations cache
migrations/__pycache__/